.w-news-page h1{line-height:30px; padding-top:40px; padding-bottom:20px; text-align:center; color:#1B6FB5; font-size:1.5em; font-weight:normal;}
.source{display:block; width:100%; text-align:center; line-height:30px; font-size:.8em; color:#4C4C4C; margin-bottom:30px;} 
