.page-container:after {
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.page-container {
    zoom: 1
}

.page-container li {
    list-style: none;
    float: left;
    padding: 0px 8px;
    cursor: pointer;
    border: 1px solid rgba(245,245,245,1);
    background:rgba(245,245,245,1);
    color:rgba(51,51,51,1);
    height: 28px;
    line-height: 28px;
    margin-right: 8px;
}

.page-container li:last-child {
    margin-right: 0px;
}

/*当前页样式*/
.activePage {
    color: #fff !important;
    /* width:30px;
    height:30px; */
    background:rgba(219,16,4,1) !important;
    border-color:rgba(219,16,4,1) !important;
}

/*没有上一页和下一页时样式*/
.nomore {
    color: #b5b5b5 !important;
    cursor: not-allowed !important;
}